.hide-scrollbar::-webkit-scrollbar {
    display: none;
}
.delete{
    transition: 0.1s;
}
.delete:hover{
    color: #dc3545;
}
.admin-item{
    transition: 0.1s;
}
.admin-item:hover{
    transform: scale(1.02);
}
.live-search-link{
    transition: 0.2s;
}
.live-search-link:hover{
    background-color: #e9e9e95e;
}
.gradient-background{
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
}
.width-limit{
    max-height: 100vh;
}