.hide-scrollbar::-webkit-scrollbar {
    display: none;
}
.delete{
    transition: 0.1s;
}
.delete:hover{
    color: #dc3545;
}
.admin-item{
    transition: 0.1s;
}
.admin-item:hover{
    transform: scale(1.02);
}
.live-search-link{
    transition: 0.2s;
}
.live-search-link:hover{
    background-color: #e9e9e95e;
}
.gradient-background{
    background-color: black;
    background-image: linear-gradient(225deg, #9face694 0%, #9FACE6 100%);
}
.width-limit{
    max-height: 100vh;
}
.view-on-scroll {
    display: none;
}

#scrollButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
}